	.btn-flotante {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	
	letter-spacing: 2px; /* Espacio entre letras */
	/*background-color: #E91E63; /* Color de fondo */
	padding: 20px 12px; /* Relleno del boton */
	position: fixed;
	bottom: 45%;
	right: 4px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;

	/*transform: translateY(-550%);*/

	background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		color: #aaa;
		border-radius: 40%;
}
.btn-flotante:hover {
	background-color: white; /* Color de fondo al pasar el cursor */
	color: white;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	bottom: 44%;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 5px;
	}
} 

.btn-flotante2 {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	
	letter-spacing: 2px; /* Espacio entre letras */
	/*background-color: #E91E63; /* Color de fondo */
	padding: 20px 12px; /* Relleno del boton */
	position: fixed;
	bottom: 53%;
	right: 4px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;

	/*transform: translateY(-550%);*/

	background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		color: #aaa;
		border-radius: 40%;
}
.btn-flotante2:hover {
	background-color: white; /* Color de fondo al pasar el cursor */
	color: white;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	bottom: 52%;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante2 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 5px;
	}
} 


.btn-flotante3 {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	
	letter-spacing: 2px; /* Espacio entre letras */
	/*background-color: #E91E63; /* Color de fondo */
	padding: 20px 12px; /* Relleno del boton */
	position: fixed;
	bottom: 61%;
	right: -1px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;

	/*transform: translateY(-550%);*/

	background: -o-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -moz-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: -webkit-linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		background: linear-gradient(rgba(50, 50, 50, .5), rgba(50, 50, 50, .75), rgb(50, 50, 50));
		color: #aaa;
		border-radius: 40%;
}
.btn-flotante3:hover {
	background-color: white; /* Color de fondo al pasar el cursor */
	color: white;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	bottom: 60%;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante3 {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 5px;
	}
} 